{% extends 'default/header.default.twig' %}

{% block header_second %}
    <div class="desc">
        <i>header.plugin.twig</i> extends <i>header</i> template but overwrites only <i>header_second</i> block
    </div>
    <div class="spacer">
        (plugin) header second
    </div>
{% endblock %}